<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ExpressGeneratorTypeScriptApp</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <!-- Add Users -->
        <fieldset class="users-column add-user-col">
            <legend class="column-header">Add User:</legend>
            <div>
                <input id="login" placeholder="login">
            </div>
            <div>
                <input id="password" type="password">
            </div>
            <div>
                <input id="age" type="number">
            </div>

            <div>
                <button id="add-user-btn">Add</button>
            </div>
        </fieldset>

        <!-- Display Users -->
        <fieldset class="users-column">
            <legend class="column-header">Users:</legend>
            <div id="all-users-anchor"></div>
        </fieldset>
    </body>
    <script src="scripts/index.js"></script>
</html>
